
/* reset */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section
{
	display: block;
}
body
{
	width: 100%;
	line-height: 1;
	background: #F6F1FF;
	position: relative;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.clear::after {
    content: "";
    clear: both;
    display: table;
}

/* fin du reset */

/* header */

header
{
  max-width: 100%;
	height: 75px;
  padding: 0;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0.7;
	position: fixed;
	display: block;
	z-index: 1000;
}

/* liens header */

#liens li a
{
  float: left;
  display: inline;
  padding : 0 0.10em;
  margin-left: 5px;
	margin-top: 20px;
  opacity: 2;
}

#menu
{
	width: 100%;
	float: right;
  list-style-type: none;
	display: inline-block;
}

/* css du slider */
.flexslider
{
  max-width: 100%;
  height: auto;
	padding: 0px;
	margin: 0px;
	margin-bottom: 50px;
}
/* fin css slider */

.liliens
{
	color: #DEB887;
	text-decoration: none;
	float: right;
}

#menu a:hover, a:focus, a:active
{
	background: #8fb3e6;
  color: #000;
}

#deco
{
  position: absolute;
  right: 0px;
  display: inline;
  padding : 0 0.5em;
  float: right;
	margin-right: 150px;
  color: #DEB887;
	text-decoration: none;
}

#nameco
{
  position: absolute;
  right: 0px;
  display: inline;
  padding : 0 0.5em;
  float: right;
	margin-right: 150px;
  color: #DEB887;
	text-decoration: none;
}

.liensco
{
	width: 100px;
	height: auto;
  display: block;
	float: right;
  padding : 0 0.5em;
  margin-left: 1500px;
  color: #DEB887;
	text-decoration: none;
}

#liensco2
{
  display: inline-block;
	text-align: right;
  padding : 0 0.5em;
  margin-left: 1500px;
  color: #DEB887;
}

#connect
{
	float: right;
}

/* fin liens header */

/* fin header */

.connexion
{
  text-align: center;
}

/* page ajout de lieu */

.add
{
  text-align: center;
  padding: 110px;
}

.frenchcaba
{
	border-radius: 10px;
	box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.7);
}

/* fin page ajout lieu */

/* page login */

.container
{
  text-align: center;
  padding: 75px;
}

#wrapper
{
  margin: 0 auto;
  width: 100%;
  max-width: 1600px;
	text-align: center;
}

.panel-panel-default
{
	padding-top: 50px;
}

#email
{
	border-radius: 5px;
	box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.7);
}

#password
{
	border-radius: 5px;
	box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.7);
}

.btn-btn-primary
{
	border-radius: 5px;
	box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.7);
}

/* fin page login */

.wrap
{
  margin: 0 auto;
  width: 100%;
  max-width: 1600px;
}

/* page contact */

.dodo
{
	border-radius: 5px;
	box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.7);
}

/* fin page contact */

/* wrapper titres et paragraphe */

#wrapper h1
{
  background-color: #7fd3e6;
  width: 30%;
	height: auto;
  text-align: center;
  margin-left: 40%;
	font-size: xx-large;
}

#bienvenu h2 h3
{
	background-color: #7fd3e6;
  width: 25%;
  text-align: center;
  margin-left: 40%;
  border-width: 5px;
  border-style: solid;
  border-color: #395066;
	font-size: xx-large;
	display: inline-block;
}

#access
{
  max-width: 100%;
  height: auto;
  display: inline-block;
  float: center;
  text-align: center;
  margin-left: 50px;
  margin-right: 50px;
}

#access h1
{
  width: auto;
  height: auto;
  text-align: center;
	float: center;
}

.mess_bienvenue
{
	font-size: x-large;
	font-family: fantasy;
}

.mess_intro
{
	font-size: x-large;
	font-family: cursive;
}

/* fin css wrapper */

#contact_pad
{
  padding: 75px;
}

/* page lieux */

#bigpaf
{
    width: 100%;
    margin-left: -2%;
}

#paf
{
  width: 23%;
  margin-left: 2%;
	padding-bottom: 25px;
  float: left;
  position: relative;
	margin-top: 100px;
	padding-bottom: 15px;
	border-radius: 5px;
	box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.7);
}

#paf img
{
    width: 100%;
		height: auto;
		margin-bottom: -20px;
}

#paf p
{
  color: white;
  font-size: 1.7em;
  position: absolute;
  top:30%;
  width: 100%;
  text-align: justify;
  margin-top: 35%;
  z-index: 5;
	padding-left: 12px;
}

#titrelieu h1
{
	padding-top: 110px;
	margin-bottom: -70px;
	text-align: center;
	font-size: 24px;
	font-weight: bold;
}

.descript
{
	padding-top: 100px;
	margin-bottom: -70px;
	text-align: center;
	font-size: 20px;
}

/* fin page lieux */

/* page profil */

#box
{
	padding-top: 80px;
	font-size: 20px;
}

#box h1
{
	font-weight: bold;
}

#box a
{
	text-decoration: none;
}

/* fin page profil */

/* page modif profil */

.content h3
{
	font-weight: bold;
	font-size: 20px;
}

.box-title
{
	padding-top: 80px;
	margin-bottom: -80px;
}

.content
{
	text-align: center;
}

.form-group
{
	margin-top: 10px;
}

.form-control
{
	border-radius: 5px;
	box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.7);
}

.btn_btn-block_btn-success_btn-lg
{
	border-radius: 5px;
	box-shadow: 1px 2px 5px 1px rgba(0, 0, 0, 0.7);
}

/* fin page modif profil */

/* succès MàJ profil et ajout lieu */

.alert-alert-success
{
	padding-top: 80px;
	font-size: 16px;
	font-weight: bold;
}

/* fin message succès */

/* page single */

.lieu
{
  float: left;
	padding-top: 80px;
}

.lieu h1
{
	font-size: 20px;
	font-weight: bold;
}

.lieu h2
{
	font-size: 16px;
	font-weight: bold;
	padding-top: 20px;
	padding-bottom: 20px;
}

#lieusugg
{
	font-weight: bold;
	padding-top: 20px;
	padding-bottom: 20px;
}

#sujcom
{
	padding-top: 50px;
}

/* fin page single */

/* page home */

#bienvenu
{
  text-align: center;
  margin-bottom: 50px;
}

#presentation
{
  text-align: center;
  margin-bottom: 50px;
}
.intro
{
  font-size: large;
  margin-bottom: 25px;
}

.article1
{
  font-size: large;
  margin-bottom: 25px;
}

/* fin page home */


/* page contact */

.dede
{
	text-align: center;
	margin-top: 30px;
}

/* fin page contact */


/* footer */

/* boutons réseaux sociaux */

.wrap li
{
	display: inline;
}

/* fin boutons réseaux sociaux */

footer
{
  width: 100%;
	max-width: 100%;
  height: 200px;
  padding: 0;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.7);
	margin-top: 50px;
}


footer ul li a
{
  color: #DEB887;
	text-decoration: none;
}

/* fin footer */

/*Menu scroll resize*/

*,
*:before,
*:after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

/* header large */
header.large {
	height: 75px;
}
header.large img {
  margin-top: 30px;
}
header.large li {
	margin-top: 0px;
}

/* header small */

header.small {
	height: 52px;
}
header.small img {
	margin-top: auto;
}
header.small li {
	margin-top: auto;
}

/* Transitions */

header,
nav,
a,
img,
li {
	transition: .7s all;
	-moz-transition: .7s all;
	-webkit-transition: .7s all;
	-o-transition: .7s all;
}
