#wrapper {
  margin: auto;
  padding: 0;
  width: 100%;
  text-align: center;
}
header ul li
{
  width: 100%;
  background: #C23623;
  display: inline-block;
  text-align: center;
}
.flexslider {
  background: ;
  color: silver;
  /* border-color: aqua; */
  width: 540px;
  height: 500px;
  text-align: center;
}
